<div id="mailApp">
  <!-- Header -->
  {{outlet "header"}}
  <!-- body -->
  <div id="body">
    <!-- Side Menu-->
    {{outlet 'sideMenu'}}
    <!-- content -->
    {{outlet 'content'}}
    <div class="clr"></div>
  <div>
  <!-- footer -->
  {{outlet "footer"}}
</div>
